# Python

In [14]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [15]:
x = [4, None, 'foo']

In [16]:
x.extend([7, 8, (2, 3)])

In [17]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [18]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [20]:
b.sort(key=len)

In [21]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [22]:
import bisect

In [23]:
c = [1, 2, 2, 2, 3, 4, 7]

In [36]:
bisect.insort(c, 8)

In [37]:
c

[1, 2, 2, 2, 3, 4, 7, 8]

In [40]:
c[1:4] = [2,3,4]

In [41]:
c

[1, 2, 3, 4, 3, 4, 7, 8]

In [42]:
char = [1,2,3,4,5]

In [51]:
char[-5:]

[1, 2, 3, 4, 5]

In [52]:
some_list = ['foo', 'bar', 'baz']

In [53]:
mapping = {}

0
foo
1
bar
2
baz

In [55]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [57]:
sorted('hassan raza')

[' ', 'a', 'a', 'a', 'a', 'h', 'n', 'r', 's', 's', 'z']

In [76]:
seq1 = ['foo', 'bar', 'baz']

In [77]:
seq2 = ['one', 'two', 'three']

In [78]:
zipped = zip(seq1, seq2)

In [79]:
zipped

In [80]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [83]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [84]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),('Schilling', 'Curt')]

In [85]:
pitchers

[('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [89]:
first_names, last_names = zip(*pitchers)

In [90]:
first_names

('Nolan', 'Roger', 'Schilling')

In [91]:
last_names

('Ryan', 'Clemens', 'Curt')

In [86]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [87]:
'b' in d1

True

In [92]:
list(d1.keys())

['a', 'b']

In [93]:
list(d1.values())

['some value', [1, 2, 3, 4]]

In [94]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [95]:
d1.update({'ڑ':'ز'})

In [96]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'ڑ': 'ز'}

In [99]:
d1.clear()

In [100]:
d1

{}

In [101]:
mapping = dict(zip(range(5), reversed(range(5))))

In [102]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [117]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [118]:
by_letter = {}

In [134]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [135]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom', 'apple', 'atom', 'apple', 'atom'],
 'b': ['bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book',
  'bat',
  'bar',
  'book']}

In [ ]:
# list Comprehension

In [136]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [144]:
li = [x.upper() for x in strings if len(x) > 2]

In [139]:
li

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [142]:
even = [ num for num in range(20) if num%2 == 0]

In [143]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [145]:
# dictionary comprehension

In [150]:
unique_values = {len(x) for x in strings}

In [151]:
unique_values

{1, 2, 3, 4, 6}

In [164]:
(set(map(len, strings)))

{1, 2, 3, 4, 6}

In [167]:
loc_mapping = {index: val for index, val in enumerate(strings)}

In [168]:
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [169]:
# Nested list comprehensions

In [195]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [196]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [197]:
result

['Steven']

In [198]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south carolina##', 'West virginia?']

In [217]:
import re

In [214]:
def clean_strings(strings):
    result = []
    for value in strings:
#         print(value)
        value = value.strip()
#         print(value)
        value = re.sub('[!?#]', '', value)
        value = value.title()
        result.append(value)
    return result

In [215]:
clean_strings(states)

 Alabama
Alabama
Georgia!
Georgia!
Georgia
Georgia
georgia
georgia
FlOrIda
FlOrIda
south carolina##
south carolina##
West virginia?
West virginia?

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [218]:
# Alternative

In [227]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
#         print(value)
        for function in ops:
#             print(function)
            value = function(value)
#             print(value)
        result.append(value)
    return result

In [228]:
clean_strings(states, clean_ops)

 Alabama
<method 'strip' of 'str' objects>
Alabama
<function remove_punctuation at 0x000002024DB4ADC8>
Alabama
<method 'title' of 'str' objects>
Alabama
Georgia!
<method 'strip' of 'str' objects>
Georgia!
<function remove_punctuation at 0x000002024DB4ADC8>
Georgia
<method 'title' of 'str' objects>
Georgia
Georgia
<method 'strip' of 'str' objects>
Georgia
<function remove_punctuation at 0x000002024DB4ADC8>
Georgia
<method 'title' of 'str' objects>
Georgia
georgia
<method 'strip' of 'str' objects>
georgia
<function remove_punctuation at 0x000002024DB4ADC8>
georgia
<method 'title' of 'str' objects>
Georgia
FlOrIda
<method 'strip' of 'str' objects>
FlOrIda
<function remove_punctuation at 0x000002024DB4ADC8>
FlOrIda
<method 'title' of 'str' objects>
Florida
south carolina##
<method 'strip' of 'str' objects>
south carolina##
<function remove_punctuation at 0x000002024DB4ADC8>
south carolina
<method 'title' of 'str' objects>
South Carolina
West virginia?
<method 'strip' of 'str' objects>
West virginia?
<function remove_punctuation at 0x000002024DB4ADC8>
West virginia
<method 'title' of 'str' objects>
West Virginia

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [229]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [232]:
equiv_anon = lambda x: x * 2

In [236]:
# generator

In [237]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [244]:
gen = squares()

In [245]:
gen

In [246]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [255]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [257]:
attempt_float('1.2345')

1.2345

In [258]:
attempt_float((1,2))

(1, 2)